--extra-index-url https://download.pytorch.org/whl/cpu
certifi
charset-normalizer
filelock
fsspec
huggingface-hub
idna
jinja2
markupsafe
mpmath
networkx
numpy
opencv-python
packaging
pillow
pyyaml
regex
requests
safetensors
scipy
sympy
tokenizers
torch
torchvision
tqdm
transformers
typing-extensions
urllib3
